<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997754242759-ofahi7e3qm3fm0q4lbuco8e5kjouje12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997754242759-ofahi7e3qm3fm0q4lbuco8e5kjouje12</string>
	<key>API_KEY</key>
	<string>AIzaSyCeZFPRo2wXQtjtd9jCYy0hUvV2e6plJew</string>
	<key>GCM_SENDER_ID</key>
	<string>997754242759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digiwrecks.katia</string>
	<key>PROJECT_ID</key>
	<string>my-doctor-538c3</string>
	<key>STORAGE_BUCKET</key>
	<string>my-doctor-538c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997754242759:ios:606f94519e65574dd460e2</string>
	<key>DATABASE_URL</key>
	<string>https://my-doctor-538c3.firebaseio.com</string>
</dict>
</plist>